@font-face {
    font-family: "UbuntuMono-Regular";
    src: url(~/assets/fonts/UbuntuMono-Regular.ttf);
}
@font-face {
    font-family: "UbuntuMono-Bold";
    src: url(~/assets/fonts/UbuntuMono-Bold.ttf);
}